design/qfd.html
<!DOCTYPE html>
<head>
  <title>QFD/TRIZ</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script type="module" src="https://cdn.pika.dev/wired-elements/latest"></script>
</head>
<body>
  <div class="page">
    <wired-card>
      <div class="input"><span>Name</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="input"><span>Objective</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="nl">
        <wired-button>Next</wired-button>
      </div>
    </wired-card>
  </div>
  <div class="page">
    <wired-card>
      <p>Enter requirements in order or priority</p>
      <div class="input"><span></span>
        <wired-input placeholder="Lowest lifetime cost"></wired-input>
      </div>
      <div class="input"><span></span>
        <wired-input placeholder="Highest effectiveness"></wired-input>
      </div>
      <div class="input"><span></span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="nl">
        <wired-button>Next</wired-button>
      </div>
    </wired-card>
  </div>
  <p>For each requirement:</p>
  <div class="page">
    <wired-card>
      <p>What are all the ways "Lowest lifetime cost" might be achieved?</p>
      <div class="input"><span>Reduce capital costs</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="input"><span>Reduce degrediation</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="nl">
        <wired-button>Next</wired-button>
      </div>
    </wired-card>
  </div>
  <p>For each functional requirement:</p>
  <div class="page">
    <wired-card>
      <div></div><em>Reduce Capital Cost</em>
      <div><span>Increase controlability</span>
        <wired-slider max="6" style="max-width:10em"></wired-slider>
      </div>
      <div><span>Decrease degredation</span>
        <wired-slider max="6" style="max-width:10em"></wired-slider>
      </div>
      <div class="nl">
        <wired-button>Next</wired-button>
      </div>
    </wired-card>
  </div>
  <div class="page">
    <wired-card>
      <p>Triz Classes</p>
      <div><em>Capital Cost</em>
        <div class="triz">
          <wired-input placeholder="Quantity of the matter"></wired-input><span>➕️</span>
        </div>
        <div class="triz">
          <wired-input></wired-input><span>➕️</span>
        </div><em>Controllability</em>
        <div class="triz">
          <wired-input></wired-input><span>➕️</span>
        </div>
        <div class="triz">
          <wired-input></wired-input><span>➕️</span>
        </div>
      </div>
      <div class="nl">
        <wired-button>Next</wired-button>
      </div>
    </wired-card>
  </div>
  <div class="page">
    <wired-card>
      <p>Level of impact of functional requirements on requirements</p>
      <table>
        <tr>
          <td></td>
          <td style="border-bottom: solid 1px">Capital Cost</td>
          <td style="border-bottom: solid 1px">Controllability</td>
        </tr>
        <tr>
          <td style="border-right: solid 1px">Lowest lifetime cost</td>
          <td>High</td>
          <td></td>
        </tr>
        <tr>
          <td style="border-right: solid 1px">Lowest environmental impact</td>
          <td>Medium</td>
          <td>Low</td>
        </tr>
      </table>
      <div class="nl">
        <wired-button>Next</wired-button>
      </div>
    </wired-card>
  </div>
  <div class="page">
    <wired-card>
      <p>What solutions already exist?</p>
      <div class="sol">
        <wired-input placeholder="Plate"></wired-input>
      </div>
      <div class="sol">
        <wired-input placeholder="Tube"></wired-input>
      </div>
      <div class="nl">
        <wired-button>Next</wired-button>
      </div>
    </wired-card>
  </div>
  <p>For each functional requirement</p>
  <div class="page">
    <wired-card>
      <div class="input"><span>Target</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="input"><span>Units</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="input"><span>Difficulty to achieve</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="input"><span>Difficulty to achieve</span>
        <wired-input placeholder=""></wired-input>
      </div><br>
      <wired-divider></wired-divider>
      <p>Achievement of existing solutions</p>
      <div class="input"><span>Plate</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="input"><span>Tube</span>
        <wired-input placeholder=""></wired-input>
      </div>
      <div class="nl">
        <wired-button>Next</wired-button>
      </div>
    </wired-card>
  </div>
  <wired-card>
    <p>Report on Ideality of solutions</p>
    <wired-card fill="grey" style="width: 90%;height:4em;"></wired-card><br>
    <wired-divider></wired-divider>
    <p>Suggested Triz solutions to deal with non-ideal</p>
    <wired-card fill="grey" style="width: 90%;height:4em;"></wired-card>
  </wired-card>
</body>

design/qfd.pug
//- DTOcean+ Structured Innovation Module
//- Copyright (C) 2021 Energy Systems Catapult
//-
//- This program is free software: you can redistribute it and/or modify it
//- under the terms of the GNU Affero General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful, but
//- WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
//- or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
//- License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program. If not, see <https://www.gnu.org/licenses/>.

doctype html
head
  title QFD/TRIZ
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/style.css')
  script(type='module' src='https://cdn.pika.dev/wired-elements/latest')

mixin page
    .page
        wired-card
            if block
                block
            else
                p empty page
            .nl
                wired-button Next

mixin ip(label="", pl="")
    .input
        span= label
        wired-input(placeholder= pl)
        if block
            block

body
    +page
        +ip("Name")
        +ip("Objective")

    +page
        p Enter requirements in order or priority
        +ip("", "Lowest lifetime cost")
        +ip("", "Highest effectiveness")
        +ip

    p For each requirement:
    +page
        p What are all the ways "Lowest lifetime cost" might be achieved?
        +ip("Reduce capital costs")
        +ip("Reduce degrediation")

    p For each functional requirement:
    +page
        div
        em Reduce Capital Cost
        div
            span Increase controlability
            wired-slider(max=6, style="max-width:10em")
        div
            span Decrease degredation
            wired-slider(max=6, style="max-width:10em")

    +page
        p Triz Classes
        div
            em Capital Cost
            .triz
                wired-input(placeholder="Quantity of the matter")
                span ➕️
            .triz
                wired-input
                span ➕️

            em Controllability
            .triz
                wired-input()
                span ➕️
            .triz
                wired-input
                span ➕️


    +page
        p Level of impact of functional requirements on requirements
        table
            tr
                td
                td(style="border-bottom: solid 1px") Capital Cost
                td(style="border-bottom: solid 1px") Controllability
            tr
                td(style="border-right: solid 1px") Lowest lifetime cost
                td High
                td
            tr
                td(style="border-right: solid 1px") Lowest environmental impact
                td Medium
                td Low

    +page
        p What solutions already exist?
        .sol
            wired-input(placeholder="Plate")
        .sol
            wired-input(placeholder="Tube")

    p For each functional requirement
    +page
        +ip("Target")
        +ip("Units")
        +ip("Difficulty to achieve")
        +ip("Difficulty to achieve")
        br
        wired-divider
        p Achievement of existing solutions
        +ip("Plate")
        +ip("Tube")

    wired-card
        p Report on Ideality of solutions
        wired-card(fill="grey", style="width: 90%;height:4em;")
        br
        wired-divider
        p Suggested Triz solutions to deal with non-ideal
        wired-card(fill="grey", style="width: 90%;height:4em;")
